# Ignore folders for specific fonts, meshes, and textures
# These aren't necessary for editing to ensure gamepad compatibility

/fonts
/meshes
meta.ini
/textures

# Ignore VSCode files
/.vscode

# Ignore archive file as it can't be issued in Git Release - has to be attached manually
UICO.zip

# Ignore the stock files from the manual download
/Stock_Files